<!doctype html>
<html lang="en" ng-app="docs">
<head>
  <meta charset="UTF-8">
  <title>Objective</title>
  <meta name="description" content="Objective is a collection of classes that can help write more modular and maintainable styles by following OOCSS rules">
  <link rel="shortcut icon" href="docs/favicon.ico">
  <link rel="stylesheet" href="objective.css">
  <link rel="stylesheet" href="docs/app.css">
  <meta name="viewport" content="width=device-width">
</head>
<body role="document" ng-controller="DocsCtrl" style="opacity: 0" class="border_box_sizing">

  <div class="viewport">
    <form class="sidebar" role="navigation" id="sidebar" ng-submit="search_submit()">
      <input type="text" id="search" ng-model="query" placeholder="Search" autofocus autocomplete="off">
      <a ng-repeat="navitem in navitems | filter: query" href="#{{navitem.id}}" class="navitem {{navitem.tag}}">{{navitem.text}}</a>
    </form>

    <div class="main" role="main">
      <div class="container">
        <a href="#sidebar" class="sidebar-control sidebar-open" ng-click="search_focus()">☰</a>
        <a href="#" class="sidebar-control sidebar-close">☰</a>
        <div id="markdown"></div>
      </div>
    </div>
  </div>

  <script src="docs/app.js"></script>
</body>
</html>
