/**
 * Flag
 */

#{objective( "flag" )} {
  display: table;
  width: 100%;
  vertical-align: middle;
}

#{objective( "flag-content" )},
#{objective( "flag-target" )} {
  display: table-cell;
  vertical-align: inherit;
}

#{objective( "flag-content" )} {
  width: 100%;
}

#{objective( "flag-target > *" )} {
  display: block;
}

#{objective( "flag--top" )} {
  vertical-align: top;
}

#{objective( "flag--bottom" )} {
  vertical-align: bottom;
}
