/**
 * Alignment
 */

#{objective( "align--left" )} {
  text-align: left;
}

#{objective( "align--center" )} {
  text-align: center;
}

#{objective( "align--right" )} {
  text-align: right;
}

#{objective( "align--justify" )} {
  text-align: justify;
}
